---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "@/components/MainLayout.astro";
import PostItem from "@/components/PostItem.astro";
const profile = await getEntry("profiles", "arisris");
const posts = await getCollection(
  "blogPosts",
  (e) => e.data.author.slug === profile.slug && e.data.status === "publish"
);
---

<MainLayout>
  <div class="grid grid-cols-12 gap-y-8 gap-x-4 md:gap-y-16 my-8 p-3 md:p-0">
    <div class="col-span-12 sm:col-span-4 md:mr-auto">
      <img
        class="w-48 h-48 rounded-xl"
        src={profile.data.avatar}
        alt="Avatar"
      />
    </div>
    <div class="col-span-12 sm:col-span-8 children:leading-relaxed">
      <h3 class="text-3xl font-bold">Jamstack Web Developer</h3>
      <strong>Edge stack is the future of the web</strong>
      <p>
        Welcome to my homepage. I like web, I love learning new things. My daily
        routine is in front of the PC, writing lines of code accompanied by a
        cup of black coffee.
      </p>
    </div>
    <div class="col-span-12 children:leading-relaxed">
      <h3 class="text-2xl font-bold">Favorites tech</h3>
      <p>
        I am very excited about exploring new programming languages, libraries,
        and frameworks. I familiar with many tools & library That i use in my
        side projects, open source or freelance work. Here is a list of web
        frameworks that I often use. But not limited to that
      </p>
      <div class="pt-8 grid grid-cols-2 gap-4">
        {
          [
            {
              icon: "i-logos:nextjs-icon",
              text: "Next",
              alt: "The react web framework by vercel"
            },
            {
              icon: "i-logos:astro-icon",
              text: "Astro",
              alt: "Awesome static site generator. I use for my site"
            },
            {
              icon: "i-logos:fresh",
              text: "Fresh",
              alt: "A popular web framework for deno runtime"
            },
            {
              icon: "i-logos:unocss?mask",
              text: "Uno",
              alt: "An atomic css framework similar with tailwind but more powerfull"
            }
          ].map((i) => (
            <div class="flex items-center gap-x-4">
              <div class="rounded-full p-2 shadow dark:shadow-dark-9 transform transform-scale-90 hover:transform-scale-110 duration-300">
                <div
                  class={`${i.icon} dark:text-white text-5xl`}
                  title={i.alt}
                />
              </div>
              <span>{i.text}</span>
            </div>
          ))
        }
      </div>
    </div>
    <div class="col-span-12">
      <h3 class="text-2xl font-bold">Recent Publications</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        {
          posts
            .sort((a, b) => {
              return b.data.pubDate.getTime() - a.data.pubDate.getTime();
            })
            .slice(0, 4)
            .map((postItem) => (
              <PostItem
                class="hover:bg-light-6 dark:hover:bg-dark-500 p-2 rounded"
                post={postItem}
              />
            ))
        }
      </div>
    </div>
  </div>
</MainLayout>
