---
import type { CollectionEntry } from "astro:content";
type Props = {
  post: CollectionEntry<"blogPosts">;
  class?: string;
};
const { post, ...props } = Astro.props;
---

<a href={`/blog/${post.slug}`} class={props.class}>
  <h3 class="font-bold leading-snug">{post.data.title}</h3>
  <div class="text-xs">
    <time datetime={post.data.pubDate.toISOString()}
      >{post.data.pubDate.toDateString()},</time
    >
    <span>By {post.data.author.slug}</span>
  </div>
</a>
