---
type Props = {
  title?: string;
  description?: string;
  robots?: string;
  og?: {
    url?: string;
    type?: string;
    site_name?: string;
    title?: string;
    description?: string;
    image?: string;
  };
  twitter?: {
    card?: string;
    site?: string;
    title?: string;
    description?: string;
    image?: string;
  };
  navLinks?: { href: string; title: string }[];
};
let { title, description, og, twitter, robots, navLinks } = Astro.props;
robots ??= "index, follow";
title ??= "Home";
description ??= "Jamstack Web Developer";
navLinks = [
  {
    href: "/services",
    title: "Services"
  },
  {
    href: "/projects",
    title: "Projects"
  },
  {
    href: "/blog",
    title: "Blogs"
  },
  {
    href: "/tools",
    title: "Tools"
  },
  ...(navLinks ?? [])
];
const darkThemeScript =
  '!((e,t,o,n)=>{const d=()=>"undefined"!=typeof localStorage&&localStorage.getItem(e)?localStorage.getItem(e):window.matchMedia(`(prefers-color-scheme: ${o})`).matches?o:n,c=t=>{t===n?document.documentElement.classList.remove(o):document.documentElement.classList.add(o),window.localStorage.setItem(e,t)};window.addEventListener("DOMContentLoaded",(()=>{document.getElementById(t)?.addEventListener("click",(e=>{e.preventDefault(),c(d()===o?n:o)}))})),c(d())})("arisris-theme-appearance", "toggle-dark", "dark", "light");';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content={robots} />
    <meta
      name="google-site-verification"
      content="HqRlPHb6rKQHLdM0ifiL0wHexR1qaUVFr_5f0dr0bKI"
    />
    {
      og &&
        Object.entries(og).map(
          ([name, content]) =>
            name && content && <meta name={`og:${name}`} content={content} />
        )
    }
    {
      twitter &&
        Object.entries(twitter).map(
          ([name, content]) =>
            name &&
            content && <meta name={`twitter:${name}`} content={content} />
        )
    }
    <title>{`${title} | Jamstack Web Developer"`}</title>
    <link rel="canonical" href={Astro.url} />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <slot name="head" />
    <script is:inline set:html={darkThemeScript} />
  </head>
  <body
    class="bg-light dark:bg-dark all:text-dark dark:all:text-gray-100 dark:all-[a]:text-light-5 all-[a]:text-dark-7"
  >
    <section class="flex flex-col min-h-screen">
      <header class="relative">
        <nav
          class="flex flex-col justify-start items-start md:items-center md:flex-row md:justify-between p-2 max-w-screen-md mx-auto children:w-full children:md:w-auto"
        >
          <input
            id="toggle-menu"
            type="checkbox"
            class="hidden lt-md:siblings-[ul#nav]:checked:flex lt-md:siblings-[ul#nav]:checked:absolute lt-md:siblings-[ul#nav]:checked:top-21 lt-md:siblings-[ul#nav]:checked:inset-x-0 lt-md:siblings-[ul#nav]:checked:bg-light lt-md:dark:siblings-[ul#nav]:checked:bg-dark"
          />
          <div class="flex justify-between items-center">
            <a href="/" class="flex flex-col p-2">
              <strong class="text-2xl underline underline-dashed"
                >{"<arisris />"}</strong
              >
              <span class="text-[.6rem] italic ml-auto -mt-1"
                >Personal Sites</span
              >
            </a>
            <button
              id="toggle-dark"
              type="button"
              title="Toggle Theme"
              class="mr-auto ml-4"
            >
              <div class="i-ri:moon-line dark:i-ri:sun-line text-xl"></div>
            </button>
            <label for="toggle-menu" role="button" class="p-2 md:hidden">
              <div class="i-ri:menu-fill text-3xl"></div>
            </label>
          </div>
          <ul
            id="nav"
            class="hidden flex-col md:flex md:flex-row md:items-center md:rounded-full md:ring-1 md:dark:ring-dark-2 md:ring-light-9 md:bg-light-7 md:dark:bg-dark-3 md:px-6 children-[li>a]:block children-[li>a]:px-4 children-[li>a]:block children-[li>a]:py-2 children-[li>a:hover]:text-opacity-80 md:children-[li>a:hover]:bg-light-9 md:dark:children-[li>a:hover]:bg-dark-2 children-[li.active]:bg-light-9 dark:children-[li.active]:bg-dark-2 children-[li.active>a]:font-bold"
          >
            {
              navLinks.map((i) => (
                <li class={i.href === Astro.url.pathname ? "active" : ""}>
                  <a href={i.href} title={i.title}>
                    {i.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </header>
      <main class="flex-grow-1">
        <div class="p-2 max-w-screen-md mx-auto">
          <slot />
        </div>
      </main>
      <footer>
        <div
          class="flex justify-between p-2 max-w-screen-md mx-auto py-4 text-sm"
        >
          <div>
            <span>&copy; {new Date().getFullYear()}</span>
            <a class="" href="https://github.com/arisris/arisris.com">
              Aris Riswanto
            </a>
          </div>
          <div class="flex gap-x-2">
            <a href="https://github.com/arisris" title="Reach Me on Github">
              <div class="i-ri:github-fill text-xl"></div>
            </a>
            <a
              href="https://linkedin.com/in/arisris"
              title="Reach Me on Linkedin"
            >
              <div class="i-ri:linkedin-fill text-xl"></div>
            </a>
            <a href="https://fb.me/arisfungratis" title="Reach Me on Facebook">
              <div class="i-ri:facebook-fill text-xl"></div>
            </a>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
